RABBITMQ_ERLANG_COOKIE='secret cookie'
RABBIT_PORT=5672
RABBIT_HOST=rabbit
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_DEFAULT_VHOST=netsage
discovery.type=single-node

RABBITMQ_QUEUE=netsage_tstat
RABBITMQ_ROUTING_KEY=netsage_tstat

## IMPORTANT: RABBITMQ_SSL_VERIFY and RABBITMQ_SSL_FAIL_IF_NO_PEER_CERT must match.  (verify_none, false) OR (verify, true)
#SSL_ENABLED=true
#RABBITMQ_SSL_CERTFILE=/tmp/ssl/out/testca_cacert.pem
#RABBITMQ_SSL_CACERTFILE=/tmp/ssl/out/server_cert.pem
#RABBITMQ_SSL_KEYFILE=/tmp/ssl/out/server_key.pem
#RABBITMQ_SSL_VERIFY=verify_none
#RABBITMQ_SSL_FAIL_IF_NO_PEER_CERT=false
